.saber-anchor{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 5rem;
  height: 15rem;
  z-index: 10;
}

#lightsaber{
  position: absolute;
  bottom: 7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
background: #24CE24;
background: -moz-linear-gradient(left, #24CE24 0%, #1FB11F 44%, #24CE24 100%);
background: -webkit-linear-gradient(left, #24CE24 0%, #1FB11F 44%, #24CE24 100%);
background: linear-gradient(to right, #24CE24 0%, #1FB11F 44%, #24CE24 100%);
  z-index: 2;
}
#saberhandle{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5rem;
  z-index: 1;
}