@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
:root{
     --navbar-colorone: #2E67F8;
     --navbar-colortwo: #A020F0;
     --navbar-colorthree: #FFE81F;
     --navbar-colorfour: #2FF924;
     --navbar-colorfive: #BC1E22;
    --navbar-colorsix: #ff9f1a;
}
*{
    margin: 0;
    padding: 0;    
    font-family: Roboto
}
body{
    background-color: rgb(0, 0, 0);
    color: rgb(226, 255, 123);

}
#stars{
    z-index: -2;
    position: absolute;
}

.star{
    position: relative;
    width: 3px;
    height: 3px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.8);
    animation: glowing 10s infinite alternate ease-in-out;
}
    @keyframes glowing{
    0%{
    opacity: 0,1;
    transform: scale(0.2);
    box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.3);
    }
    50%{

    }
    100%{
    opacity: 0.8;
    transform: scale(1.5);
    box-shadow: 0 0 30px 8px rgba(255, 255, 255, 0,8);
    }
}

.lightmode{
    background-color: antiquewhite;
    color: rgb(47, 249, 36);
}
.darkmode{
        background-color: rgb(0, 0, 0);
    color: rgb(247, 17, 17);
}


/* NAVBAR */

.navbar{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-links{
     background-color: black;
    display:flex;
    gap:30px;
}

.nav-links a{
     background-color: black;
}

.menu-toggle{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle img{
    width: 40px;
}

.contact{
    color: var(--navbar-colorone);
}

.contact:hover{
     background-color:var(--navbar-colorone) ;
    color: black;
    border-radius: 20px;
    box-shadow: 0px 1px 50px var(--navbar-colorone);
}

.about{
     color: var(--navbar-colortwo);
}

.about:hover{
     background-color:var(--navbar-colortwo) ;
    color: black;
    border-radius: 20px;
    box-shadow: 0px 1px 50px var(--navbar-colortwo);
}

.wiki{
    color: var(--navbar-colorthree);
}

.wiki:hover{
     background-color:var(--navbar-colorthree) ;
    color: black;
    border-radius: 20px;
    box-shadow: 0px 1px 50px var(--navbar-colorthree);
}

.jedi{
    color: var(--navbar-colorfour);
}

.jedi:hover{
     background-color:var(--navbar-colorfour) ;
    color: black;
    border-radius: 20px;
    box-shadow: 0px 1px 50px var(--navbar-colorfour);
}

.sith{
    color: var(--navbar-colorfive);
}

.sith:hover{
    background-color:var(--navbar-colorfive) ;
    color: black;
    border-radius: 20px;
    box-shadow: 0px 1px 50px var(--navbar-colorfive);
}

.character{
    color: var(--navbar-colorsix);
}

.character:hover{
    background-color:var(--navbar-colorsix);
    color: black;
    border-radius: 20px;
    box-shadow: 0px 1px 50px var(--navbar-colorsix);
}

nav a{
    background-color: none;
    padding:6px;
    color: inherit;
    text-decoration: none;
}

@media (max-width:768px){

.navbar{
    justify-content:space-between;
    padding:10px;
}

.nav-links{
    display:none;
    flex-direction:column;
    position:absolute;
    top:60px;
    left:0;
    width:100%;
    text-align:center;
    gap:5px;
   
}

.imgStarfighter{
    transform: rotate(90deg);
}

.nav-links.active{
    display:flex;
}

.menu-toggle{
    display:block;
}

}   

nav{
 gap:20px;
 justify-self: center;
 margin-top: 20px;
}
nav > a:nth-child(1){
    color: #02046e;
}
nav > a:nth-child(2){
    color: #5f0c5f;
    border-left: 3px solid rgb(46, 46, 46);
}
nav > a:nth-child(3){
    border-left: 3px solid rgb(46, 46, 46);
    border-right:3px solid rgb(46, 46, 46);
    font-size: x-large;
    color: #efff5f;
}
nav > a:nth-child(4){
    color: var(--navbar-colorfive);
    border-right: 3px solid rgb(46, 46, 46);
}
nav > a:nth-child(5){
    color: #8b0303;
}
a{
    background-color: none;
    padding:6px;
    color: inherit;
    text-decoration: none;
}
a:hover{
    background-color:rgb(47, 249, 36) ;
    color: black;
    border-radius: 20px;
    box-shadow: 0px 1px 50px rgb(47, 249, 36);
}
.scroll-text{
    justify-content: center;
    justify-self: center;
}
p{
    margin-bottom: 20px;
}
footer{
    justify-content: center;
    justify-self: center;
}

/* FOOTER */

.imges{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 150px;
}
.listItems{
    display:flex;
    justify-content:center; 
    align-items:center;
    gap:20px; 
    font-size: 40px;
}

.listItems li{
    list-style:none;
}