@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
:root{
     --navbar-colorone: #2E67F8;
     --navbar-colortwo: #A020F0;
     --navbar-colorthree: #FFE81F;
     --navbar-colorfour: #2FF924;
     --navbar-colorfive: #BC1E22;
    --navbar-colorsix: #ff9f1a;
}
*{
    margin: 0;
    padding: 0;    
    font-family: Roboto
}
body{
    background-color: transparent;
    color: var(--ink);

}

.lightmode{
    background-color: antiquewhite;
    color: rgb(47, 249, 36);
}
.darkmode{
        background-color: rgb(0, 0, 0);
    color: rgb(247, 17, 17);
}

header {
    margin-top: 1rem;
    z-index: 20;
}

/* NAVBAR */

.navbar{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
     z-index: 1000;
}

.nav-links{
     background-color: transparent;
    display:flex;
    gap:30px;
   
}

.menu-toggle{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle img{
    width: 40px;
}


@media (max-width:768px){

header {
    margin-top: 0.75rem;
}

.navbar{
    justify-content:flex-end;
    padding:10px;
   
    
}

.nav-links{
    display:none;
    flex-direction:column;
    position:absolute;
    top:60px;
    width:100%;
    text-align:center;
    gap:5px;
}

.imgStarfighter{
 
    transform: rotate(-90deg);
}

.imgStarfighter.active{
     transform: rotate(180deg);
}
.nav-links.active{
   
    padding: 10px 0 10px 0;
    display:flex;
    width: 100px;
    gap: 10px;
   
    
}

.menu-toggle{
    display:block;
}

}   

.scroll-text{
    justify-content: center;
    justify-self: center;
}
p{
    margin-bottom: 20px;
}


/* FOOTER */

footer{
    justify-content: center;
    justify-self: center;
}


.imges{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 150px;
}

.center{
   padding: 25px 0 25px 0;
     display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.listItems{
    display:flex;
    justify-content:center; 
    align-items:center;
    gap:20px; 
    font-size: 25px;
   
}

.listItemsLinks{
  padding-top: 20px;
   display:flex;
   flex-direction: column;
    justify-content:center; 
    align-items:center;
    gap:20px; 
    font-size:1rem;
}


.listItems, .listItemsLinks li{
    list-style:none;
    text-decoration: none;
}

.fa-tiktok{
    color: white;
}

.fa-instagram{
    color: #833ab4;
}

.fa-facebook{
    color: blue;
}

.fa-reddit{
    color: orangered;
}